body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6fb;
}

header {
    background: linear-gradient(90deg, #6e2df7, #c112e8);
    padding: 20px;
    color: white;
    text-align: left;
    font-size: 26px;
    font-weight: bold;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 10px;
    background: #eceffc;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.searchBar {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
